.info {
  &__wrapper {
    position: relative;
  }

  &__content {
    max-width: 57.5rem;
    gap: 3rem;

    @media (max-width: em(1540)) {
      width: 100%;
      max-width: initial;
    }
  }

  &__text {
    gap: 2rem;
  }

  &__title {
  }

  &__description {
  }

  &__image {
    position: absolute;
    right: -49rem;
    bottom: -27rem;
    z-index: -1;

    @media (max-width: em(1540)) {
      display: none;
    }
  }
}
